<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-8">
    <h3 id="looks-title">Looks</h3>
  </div>

  <div class="col-xs-4 new-link">
    <%= link_to 'New Look', new_look_path %>
  </div>
</div>

<br>


<%= react_component("Look",
                    props: {
                        looks: @looks
                    }, prerender: false) %>


<style>
  img {
    height: 180px !important;
    width: 180px !important;
  }
</style>
